[submodule "ceph-ansible"]
	path = ceph-ansible
	url = https://github.com/ceph/ceph-ansible.git
[submodule "roles/ClusterHQ.flocker"]
	path = roles/ClusterHQ.flocker
	url = https://github.com/ClusterHQ/ansible-role-flocker.git
